<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Page</title>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: cursive;
      }
      h1 {
        text-align: center;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
      }
      img:hover {
        transform: scaleX(-1);
      }
      a {
        text-decoration: none;
        background-color: white;
        color: black;
        border: 2px solid #041d05;
        border-radius: 8px;
        padding: 10px 24px;
        font-size: 16px;
        margin: 0 auto;
        display: block;
        width: 15%;
      }
      div {
        text-align: center;
      }
      li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <h1>This is secret page!</h1>
    <img
      src="https://i.pinimg.com/originals/08/64/0b/08640b34412b64c5be6d0296bc6192cd.png"
      alt="secret"
      height="300"
      width="300"
    /><br />
    <div>
      <h3>Logged in as : <%= data[0].name %></h3>
      <h4>Other Information</h4>
      <li><%= data[0].username %></li>
      <li><%= data[0].email %></li>
      <li><%= data[0].address %></li>
      <li><%= data[0].mobile %></li>
      <br />
      <a href="/">Go back</a>
    </div>
  </body>
</html>
